#gpe_find_replace fieldset {
	border: medium none;
	margin: 0;
	padding: 0;
}

#gpe_find_replace .search_row {
	margin-bottom: 5px;
}

#gpe_find_replace button#queue_job::before {
	color: black;
	content: "|";
	font-family: monospace;
	font-size: 1.2em;
	font-weight: 600;
	left: -15px;
	position: absolute;
}

.skin-hydradark #gpe_find_replace button#queue_job::before {
	color: white;
}

#gpe_find_replace button#queue_job {
	margin-left: 20px;
	position: relative;
}

#gpe_find_replace .search_row .indent {
	display: inline-block;
	font-weight: bold;
	min-width: 90px;
	text-align: right;
	vertical-align: top;
}

#gpe_find_replace .search_row textarea {
	display: inline-block;
	padding: 0;
	min-height: 75px;
	min-width: 486px;
	width: auto;
}

.gpe_action_option {
	display: none;
}


#gpe_find_replace .pagelist {
	width: 100%;
}

#gpe_find_replace .search_row #wiki_selection_container {
	margin: 0;
}

#create_new_pages_container {
	display: none;
}